MitchellClaimWSClient/Service References/MitchellClaimWSReference/ClaimService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51387/ClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MitchellClaimWS" />
  <xs:element name="CreateClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MitchellClaimXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateClaimResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimByClaimNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimNumberField" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimByClaimNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MitchellClaimWS" minOccurs="0" name="GetClaimByClaimNumberResult" nillable="true" type="q1:MitchellClaimType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimsBetweenDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lossDate1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="lossDate2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimsBetweenDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MitchellClaimWS" minOccurs="0" name="GetClaimsBetweenDatesResult" nillable="true" type="q2:ArrayOfMitchellClaimType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>